@font-face {
    font-family: rejoy;
    src: url(media-data/Rejouice-Headline.ttf);
}
@font-face {
    font-family: nb;
    src: url(media-data/NBInternationalProBoo.ttf);
}
*{text-decoration: none;
    padding: 0;
    margin: 0;
}
html, body{
    background:linear-gradient(180deg,#A4A3A4,rgba(224, 218, 226, 0.806),#A4A3A4);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.container{
    font-size: 1.3vw;
    font-weight: 400;
    position: relative;
    height:auto;
    width: 100%;
}
.container>video{
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* ----NAVBAR---- */
.nav{
    position: sticky;
    background: rgba(186, 152, 196, 0.434);
    box-shadow: 0 8px 32px 0 rgba(62, 62, 62, 0.214);
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index:4;
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
.logo{
    height: 70%;
    width:200px;
    padding-left:4px ;
    padding-top:3px;
}
.logo>a>img{
    height: 100%;
    width: 100%;
}

.searchbar>input{
        left: 90%;
        position: relative;
        justify-content:center ;
        border-radius: 50px;
        height:30px;
        width: 20vw;
        padding-top: 4px;
        padding-left: 18px;
        font-size: large;
        background: white;
        padding-bottom: 2px;
        border: none;
        outline: none;
    
    }
nav>.cate{
    cursor: pointer;
    font-family: rejoy;
    gap: 5vw;
    padding-top: 20px;
    padding-right: 100px;
    justify-content: center;
    font-size: 1.1vw;
    font-weight: 500;
    width: 30%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
nav>.cate>a>li{
    color: black;
}
nav>.cate>a>li:hover{
    color: aliceblue;
    transform: scale(110%);
    transition: transform 0.3s;
}
.cart-text{
    position: absolute;
    right: 90px;
    top: 1px;
}
.cart-text>i{
    font-size: 42px;
}
.badge{
    position: relative;
    height: 15.8px;
    width: 16px;
    font-size:12px;
    color: #ffffff;
    right: -30px;
    top:-38px;
    padding-bottom: 1px;
    font-weight: 600;
    font-family:nb;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(249, 83, 83, 0.984);
}
nav>.menu{
    cursor: pointer;
    padding-right:10px;
}
.menu2>i{
    font-size:45px;
}
.menu:hover{
        color: aliceblue;
        transform: scale(105%);
        transition: transform 0.3s;
}
/*----- NAVBAR-END---- */

/*----INFO-PAGE---*/
.info{
    font-family: rejoy;
    background:linear-gradient(180deg,#A4A3A4,rgba(224, 218, 226, 0.806),#A4A3A4) ;
    justify-items: center;
    display:grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: .25rem;
    grid-auto-rows:350px ;
    width: 100%;
    height: 150%;
    justify-content: center;
    padding-bottom: 60px;
}


.product-box{
 
    background:linear-gradient(180deg,rgb(246, 243, 243),#bfa3ded1,#10051cc2,#b186e6e4,rgb(234, 233, 233)) ;
    box-shadow: 0 8px 32px 0 rgba(0, 1, 12, 0.904);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    position: relative;
    width: 180px;
    height: 240px;
    border-radius: 25px;
    background-color: #fff;
    padding: 10px;
}
.pic:hover img{
    transition: transform 0.5s;
    transform: scaleX(-1);
    border-radius: 8%;
}
.pic{
    overflow: hidden;
    border-radius: 15px;
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.pic>img{
    transform: scale(1.1);
    object-fit: cover;
    height: 100%;
    width: 100%;
    
  }

.product-title{
    font-family: rejoy;
    font-size: 1.5rem;
    font-weight: 600;
    color:#040403;
  }
  
i{
    cursor: pointer;
    font-size:50px;
    position: relative;
    bottom:-3px;
}
.product-price{
    color:#131314;
    font-weight:600 ;
  }
  .add-cart{
    position: absolute;
    bottom: 14px;
    border-radius: 50%;
    right: 14px;
    background-color: #030303;
    color:white;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.1s;
  }
  
  .add-cart:hover{
    transition: 0.3s;
    transform: scale(1.15);
    color:black;
    border: 1px solid black;
    background-color: #faf8f8;
}
    
/* -----ITEMS END----- */

 
 
 
 
 
 /* ----SIDE-MENU---- */
  .menu-sidebar{
    background: rgba(186, 152, 196, 0.717);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    transform: translate(-100%);
    font-family: rejoy;
    list-style: none;
    font-size: 3vw;
    font-weight: 700;
    z-index: 99;
    top: 0px;
    border-radius: 0px 100px  100px 0;
    position:fixed;
    height: 100%;
    width: 40%;
    transition: transform 0.4s linear 0s;
}
.menu-sidebar>h1{
    cursor: pointer;
   padding-left: 10vw;
    align-items: center;
    display: flex;
}
.menu-sidebar>ul>a>li{
    display: flex;
    align-items: center;
    color: black;
    padding-left: 20px;
    line-height: 4.5vw;
    border-bottom:1px solid #413f3f95;
}
.menu-sidebar>ul>a>li:hover{
    padding-top: 6px;
    width: 94%;
    transform: scale(105%);
    background-color: black;
    transition: transform 0.4s;
    color: white;
}
.media{
    padding-top: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.media>a>img{
    cursor:pointer;
   padding:4px 8px;
    height: 5vmax;
    filter:opacity(80%);
}
.media>a>img:hover{
  filter:opacity(100%);
    transform: rotate(360deg) scale(110%);
    transition: transform 0.5s;
}
.show-sidebar{
    transform: translate(0%) !important;
}
/* -----SIDEMENU------ */

/* -----SIDE-CART---- */
.cart{
    background: rgba(186, 152, 196, 0.717);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9px );
    transform: translate(100%);
    font-family: rejoy;
    list-style: none;
    font-size: 3vw;
    font-weight: 600;
    z-index: 99;
    top: 0px;
    right: 0px;
    border-radius:100px  0px  0px  100px;
    position:fixed;
    height: 100%;
    width: 45.15%;
    transition: transform 0.4s linear 0s;
}
.carttitle{
    padding-left: 120px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.carttitle>.close>i{
    position: absolute;
    top:24px;
   right:15px;
    font-size: 4vw;
}
.show-cart{
    transform: translate(0%) !important;
}
/* //----------cart -items-----------// */

.cart-content{
    
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    height:65%;
    width:100%;
}
.cart-content>.cart-box{
    line-height: 2.1;
    border-bottom:0.5px solid  #686666;
    font-size: 0.6em;
    height: 65px;
    width: 100%;
margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cart-content>.cart-box:hover{
    transform: scale(105%);
    transition: 0.4s;
    transform: scale(1.02);
    backdrop-filter: blur(4px);
    background-color: #060000;
    color: white;
}
.cart-content>.cart-box>.cart-img{
    border: 1px solid black;
    border-radius: 10px;
  
   height: 55px;  
   width: 55px;
}
.cart-content>.cart-box>.cart-img>img{
    height: 100%;
    border-radius: 10px;
    width:100%;
   object-fit:cover;

}
.cart-procuct-title{
    font-size: 1vw;
    text-transform: uppercase;
 }
.cart-remove>i{
  font-size: 30px;
}
.cart-quantity{
    background-color: #ffffffb4; 
    height: 30px;
    width:40px;
   
}
.total{   
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 0px 100px ;
    background-color: #13011385;
    background: blur(1px);
    position: absolute;
    bottom: 0px;
    height: 130px;
    width: 100%;
}
.btn-buy{
    display: flex;
    justify-content: center;
}
.btn-buy>button{
    padding-top: 5px;
    cursor: pointer;
    font-family: rejoy;
    font-weight: 700;
    font-size: 1.9vw;
    position: absolute;
    bottom: 20px;
    height: 1.5em;
    width:30%;
    border-radius: 50px;
    border: 0.2px solid white;
    color: white;
    background:black;

}
.btn-buy>button:hover{
    border: 0.2px solid #090909;
    transition:0.4s;
    transform:scale(105%);
    color: #040000;
    background:white;

}

/*------SIDE CART END----- */
